.header{
    background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63 12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%, #73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d 68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%, #00d6f6 100%);
}

.card-body .row .col{
    cursor: pointer;
}

.btn{
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.btn:hover {
    filter: brightness(90%);
}

.h2{
    font-size: 1.15rem;
}

.bloque{
    position: fixed;
    bottom: 0;
    float: left;
    z-index: -999;
    background-color: #00F323;
    width: 100%;
    height: 50vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    rotate: 40deg;
    transform-origin: top left;
}