.logo-con-nombre{
    height: 3.5rem;
    position: absolute;
}

.contenedor-login {
    display: flex;
    height: 100vh;
    place-content: center;
    align-items: center;
    justify-content: center;
    .contenedor-form{
        width: 100%;
    }
}

@media only screen and (min-width:768px){
    .contenedor-login .contenedor-form{
        width: 40%;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    .mat-form-field{
        width: 90%;
    }
}


.btn{
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    filter: brightness(90%);
}