<img
  src="../../../assets/img/SolucionesCripto/logo-con-nombre.png"
  alt="Soluciones Cripto"
  class="logo-con-nombre"
/>

<!-- Page content -->
<div class="container contenedor-login">
  <div class="justify-content-center align-items-center contenedor-form">
    <div class="col-lg-12 col-md-12">
      <div class="card shadow border-0" style="background-color: #f7fafcdc;">
        <div class="card-header">
          <br />
          <div class="btn-wrapper text-center">
            <img
              src="../../../assets/img/SolucionesCripto/logo.png"
              style="height: 8rem"
              class="img-fluid"
              alt="Responsive image"
            />
          </div>
        </div>
        <div class="card-body px-lg-3 py-lg-3">
          <ngx-ui-loader [loaderId]="'loader-login'"></ngx-ui-loader>
          <br />
          <div class="text-center text-muted mb-4">
            <small>Introduzca sus credenciales</small>
          </div>

          <!-- (ngSubmit)="login('top-right', 'danger')" -->
          <form role="form" #form="ngForm">
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <input
                matInput
                type="text"
                name="usuario"
                id="usuario"
                [(ngModel)]="usuario"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </mat-form-field>
            
            <mat-form-field class="mt-2">
              <mat-label>Clave</mat-label>
              <input
                matInput
                type="password"
                name="clave"
                id="clave"
                [(ngModel)]="clave"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </mat-form-field>

            <div class="text-center">
              <br />
              <button type="submit" class="btn my-4" (click)="login()">
                Ingresar
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-dark"
            ><small>Recuperar clave?</small></a
          >
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-dark"
            ><small>Crear un nuevo usuario</small></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
