<h1 mat-dialog-title>Retirar</h1>
<div class="py-1" mat-dialog-content style="width: 95%; margin: 0 auto;">
    <form [formGroup]="formulario" method="post" (ngSubmit)="withdraw()">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Servicio</mat-label>
            <mat-select formControlName="servicioFormControl" [(ngModel)]="servicioRetiro">
                <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                {{servicio.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cuenta</mat-label>
            <mat-select formControlName="cuentaFormControl">
                <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.value">
                {{cuenta.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Depositar a: </mat-label>
            <mat-select formControlName="depositoFormControl">
                <mat-option *ngFor="let deposito of depositos" [value]="deposito.value">
                {{deposito.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Monto</mat-label>
                <input matInput placeholder="Ex. 300" type="number" min="100" max="10000" formControlName="montoFormControl">
            </mat-form-field>
        </div>


        <div class="row">
            <mat-form-field class="concepto" appearance="fill" style="width: 100%;">
                <mat-label>Concepto</mat-label>
                <input matInput placeholder="Ex. Pago de Servicio">
            </mat-form-field>
        </div>

            <div class="btnGroup">
                <button type="button" class="btn button-outline-secondary" (click)="closeDialog()">Cancelar</button>
                <button type="submit" class="btn button-primary" [disabled]="formulario.invalid">Retirar</button>
            </div>
        </form>
    </div>